@import '../../styles/settings.scss';

.columnForm {
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;

}
.formColumns {
    text-align: center;
    padding: 10px;
}

.spanColumnForm {
    margin: 10px;
}